
*
{
    margin: 0;
    padding:0;
}
body
{
    background-color:rgb(220, 231, 231)
}
.hr-line{
   box-sizing: border-box;
   border:none;
   border-bottom: 3px solid cadetblue;
    width: 50%;
    margin-left: 20%;
    margin-bottom: 8px;
    padding: 10px;
}
.main-search i
{

font-size: 18px;
box-sizing: border-box;
border-bottom: 3px solid rgb(97, 192, 236);
padding:9px;
}
.nav-container
{  
  
    display: inline-flex;
    width:100%;
    background-image: linear-gradient(rgb(215, 241, 243),rgb(67, 167, 162),rgb(47, 117, 150));}
.logo-nav
{
    font-size: 40px;
}
.nav-container ul{
   
}
.nav-container ul li {
    display: inline-block;
    padding: 30px; 
    margin-left:3vw;
    color:whitesmoke;
    font-size: 20px;
    align-content: center;
}
.nav-container ul li a{
    color:whitesmoke;
    font-size: 20px;
    text-decoration: none;
}
.nav-container ul li a:hover{
border-bottom:3px solid rgb(7, 88, 99);
color:khaki ;
}
.right-nav
{
 margin-left: 120px;
 margin-top: 22px;
 
 
 
}
 

.input-btn
{
    font-size: 18px;
  height: 30px;
  padding: 5px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 20px;
  overflow: hidden;
}
.search-btn
{
    margin-left: 8px;
font-size:18px;
 height: 30px;
 padding:5px;
 border: 2px solid rgb(4, 4, 58);
 border-radius: 20px;
 overflow:hidden;

}
.search-btn:hover
{
  background: rgb(43, 151, 223); 
  color: rgb(233, 239, 241);
}
.input-btn:hover{
    background: rgb(43, 151, 223);
    color: whitesmoke;
}
.myullinks
{
    display: none;
}
@media  only screen and (max-width: 1070px){
     
   .nav-container 
   {
   display:block;
    
   }
   .nav-container ul li {
     
    
       
   }
   .right-nav
   {
  
   }
   
}
@media  only screen and (max-width: 651px)
{
.nav-container ul li
{
    display: block;
}
.right-nav
{
    display: block;
}
}

